.TodoApp {
    background-color: rgba(230, 215, 193, 0.25);
    box-shadow: 1px 1px 20px rgba(0,0,0, .4);
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    width: 800px;
    min-height: 100vh;
    height: auto;
    margin: auto auto;
}