.Title {
    text-align: center;
    font-family: 'Courgette', cursive;
}

h1 {
    color: rgba(129, 11, 11, 0.822);
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    margin-top: 6px;
    font-size: 22px;
}